.custom-slider .rc-slider-track {
    background-color: #1976d2 !important;
    height: 4px;
}

.custom-slider .rc-slider-rail {
    background-color: #e0e0e0;
    height: 4px;
}

.custom-slider .rc-slider-handle {
    border: solid 2px #1976d2;
    background-color: white;
    height: 14px;
    width: 14px;
    margin-top: -5px;
}